@use "variables" as *;

main {
  width: 800px;
  margin: auto;

  form {
    border-radius: 20px;
    padding: $padding;
    display: flex;
    background-color: $background-color;

    input {
      width: 100%;
      padding: 15px $padding;
      border: none;
      font-size: 20px;
      height: 54px;
      border-radius: 10px;

      &:focus {
        outline: none;
      }
    }

    button {
      width: 140px;
      margin-left: 10px;
      height: 54px;
      background-color: $main-color;
      color: $white-color;
      line-height: 54px;
      text-align: center;
      font-weight: bold;
      cursor: pointer;
      border: none;
      border-radius: 10px;
    }
  }

  .results {
    width: 83%;
    padding: $padding;
    margin: auto;
    background-color: #e0e0e0;

    .info-box {
      background-color: $white-color;
      padding: 15px;
      margin: 15px;

      span {
        float: right;
        margin-left: 4px;
        border-radius: 4px;
        color: $white-color;
        font-size: 18px;
        text-align: center;
        padding: 4px;
        background-color: $main-color;
      }
    }
  }
}
